asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
Django==5.0.6
django-taggit==5.0.1
djangorestframework==3.15.1
filelock==3.14.0
idna==3.7
Markdown==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
platformdirs==4.2.1
psycopg==3.1.19
psycopg-binary==3.1.19
Pygments==2.17.2
python-dotenv==1.0.1
requests==2.31.0
rich==13.7.0
rich-menu==0.1.5
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.1
